<meta property="og:title" content="{{ pageTitle }}">
<meta property="og:type" content="{{ ogtype or 'website' }}">
<meta property="og:url" content="{{ pageUrl }}">
<meta property="og:site_name" content="{{ siteName }}"/>
<meta property="og:description" content="{{ pageDescription }}">
{%- if pageImage -%}<meta property="og:image" content="{{ pageImage }}">{%- endif -%}