<meta name="twitter:card" content="{{ cardType or 'summary_large_image' }}">
<meta name="twitter:site" content="{{ meta.authorTwitter }}">
<meta name="twitter:url" content="{{ pageUrl }}">
<meta name="twitter:title" content="{{ pageTitle }}">
<meta name="twitter:description" content="{{ pageDescription }}">
{%- if pageImage -%}<meta name="twitter:image" content="{{ pageImage }}">{%- endif -%}